<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75553312479-t6n1ajg6erauo50pf58tufk9iu8t7v6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75553312479-t6n1ajg6erauo50pf58tufk9iu8t7v6h</string>
	<key>API_KEY</key>
	<string>AIzaSyBSQb_f41Ew5xzWZCVNfR4AdjE4BugODlY</string>
	<key>GCM_SENDER_ID</key>
	<string>75553312479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appdev.samplefeb</string>
	<key>PROJECT_ID</key>
	<string>myappfeb</string>
	<key>STORAGE_BUCKET</key>
	<string>myappfeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75553312479:ios:c22cfc374b2f456b58636a</string>
</dict>
</plist>